<% @pins.each do |pin| %>
  <div class="col-md-4">
    <%= link_to "#", data: {toggle: "modal", target: "#pin-modal#{pin.id}"} do %>
      <%= image_tag pin.photo.url(:medium) %>
    <% end %>
    <p><%=pin.blurb%></p>
  </div>

  <div class="modal fade" id="pin-modal<%= pin.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div id="pin-form">
          <%= image_tag pin.photo.url(:large) %>
          <p><%= pin.blurb %></p>
        </div>
      </div>
    </div>
  </div>

<% end %>
